{% extends 'base.html.twig' %}


{% block title %}
    {{ title }}
{% endblock %}




{% block body %}
<div class="flex items-center justify-center flex-grow ">
    <div class="">
        <div class="flex flex-col items-center">
        <span id="hello" class="text-9xl font-black text-transparent bg-gradient-to-r from-red-500 to-red-900 bg-clip-text
                     transition duration-500 py-6 shadow-inner">Joyeux nöel</span>
                     <div class="flex space-x-5">
            <img class="w-56 transition duration-500 hover:scale-105 rounded-full"
                 src="{{ asset('img/noel.png') }}" alt="">
                 <img class="w-56 transition duration-500 hover:scale-105 rounded-full"
                 src="{{ asset('img/lupita.png') }}" alt="">
                 <img class="w-56 transition duration-500 hover:scale-105 rounded-full"
                 src="{{ asset('img/swiff.png') }}" alt="">
                 
                    </div>
        </div>
    <p class="text-7xl capitalize font-black">Ma p'tite Tomate d'amour</p>
    <a href="{{path("app_tuto")}}" class="text-3xl text-center capitalize font-black">Voir comment ça fonctionne</a>
    </div>
</div>
{% endblock %}